<!-- index.html -->
{% extends 'base.html' %}
{% block title %} 欢迎光临我的博客 {% endblock %}
{% block headmessage %}
    <h3 style='font-family:楷体;'> 本站文章列表</h3> 
{% endblock %}
{% block content %}
    {% for post in posts %}
    <p style="font-family:微软雅黑;font-size:14pt;font-weight:bold;">
        <a href="/post/{{post.slug}}">{{post.title}}</a>
    </p>
    {% endfor %}
{% endblock %}